* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: #FF9A4B;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.main {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.main h3 {
     margin: 5px 10px;
}

.main p {
    margin: 0 10px 10px;
}

.step {
    width: 300px;
    height: auto;
    background-color: #EEEEEE;
    margin: 50px 15px;
}

.img1{
    width: 280px;
    height: 150px;
    background-size: 280px 150px;
    background-position: center;
    margin: 10px;
    background-image: url(img/flow01.png);
    position: relative;
}

.img1 p {
    width:fit-content;
    background-color: #FF9A4B;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    color: #fff;
}

.img2{
    width: 280px;
    height: 150px;
    background-size: 280px 150px;
    background-position: center;
    margin: 10px;
    background-image: url(img/flow02.png);
}

.img2 p {
    width:fit-content;
    background-color: #FF9A4B;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #fff;
}

.img3{
    width: 280px;
    height: 150px;
    background-size: 280px 150px;
    background-position: center;
    margin: 10px;
    background-image: url(img/flow03.png);
}

.img3 p {
    width:fit-content;
    background-color: #FF9A4B;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #fff;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #AAAAAA;
}